.contact {
	padding-top: 4em;
	min-height: 55em;
	padding-left: 2em;
	padding-right: 2em;

	.form {
		float: left;
		width: 50em;
	}

	.address {
		float: right;
		h3 {
			font-family: $title-text;
			font-size: 1.5em;
		}
	}
}