.slider {
	div {
		ul {
			display: none;
		}
		button {
			position: relative;
			height: 34px;
			bottom: 60px;
			font-family: $title-text;
		}
	}
}

.event-title {
	margin: 4px;
  	color: $white;
  }
.gallery-slider {
	margin: 10px auto auto;
	padding:  6px;
	height: 180px;
	width: 800px;
	font-family: $title-text;
	background: $red;
	text-align: center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	img.gallery-image {
		max-height: 140px;
		max-width: 180px;
		height: auto;
		width: auto;
		border: 2px solid $light-grey;
	}
	div {
		// position: relative;
		// width: 100%;
		text-align: center;
		div.photos-carousel {
			.previous-slide, .next-slide {
				font-size: 44px;
				text-decoration: none;
				pointer-events: all;
			}
			.previous-slide {
				// float: left;
			}
			.next-slide {
				// float: right;
			}
		}
	}
}
