html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 11em;
	font-family: $body-font;

	h2 {
		font-family: $title-text;
		font-size: 1.5em;
	}

	p {
		font-family: $body-font;
		padding-bottom: 0.5em;
	}
}

.row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
}

.two-thirds-message {
	background-color: $white;
	flex-grow: 2;
}

.one-third-image {
	flex-grow: 1;
}

.center-message {
	text-align: center;
	background-color: $white;
	flex-grow: 1;
}