html, body {
	height: 100%;
}

body {
	.wrap-header-body {
		min-height: 100%;
	}

	#wrapper {
		overflow: auto;
		padding-bottom: 9em;

		font-family: $body-font;

		h2 {
			font-family: $title-text;
			font-size: 1.5em;
		}

		p {
			font-family: $body-font;
			padding-bottom: 0.5em;
		}
	}
}


.content-body {
	height: 600px;
	text-align: center;

	.welcome-message {
	  display: inline-block;
	  width: 50%;
	  margin-top: 3em;
	  margin-right: 1em;
		text-align: left;
	  vertical-align: top;

		.welcome-heading {
			font-size: 1.5em;
		}

		p {
			margin-top: 1em;
		}

		ul {
		  margin-left: 2em;
		  margin-top: 1em;

		  li {
		  	margin-top: 1em;
		  }
		}
	}

	.facebook-feed {
		display: inline-block;
		width: 500px;
	}
}
