header {
  height: 500px;
  background-image: url("../img/hungryhomlesssign");
  background-position: bottom;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}