.story-content {

  .member-card {
    background-color: $light-grey;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2em;
    margin-bottom: 2em;
  }

  .mission-statement {
    background-color: $light-grey;
    width: 100%;
    margin-bottom: 3em;
  }


  h2 {
    text-align: center;
    font-size: 3em !important;
  }

  .make-small-img {
    max-height: 200px;
  }

  h3 {
    text-align: left;
    font-family: $title-text;
  }

  h2.name {
    text-align: left;
    font-size: 3em !important ;
  }

}
