.story-content {
    padding: 2em;

    h1 {
        margin-bottom: 1em;
    }

    h2 {
        margin-bottom: .5em;
    }

    .content-section {
        margin-bottom: 1em;
    }

    .team-member {
        margin-bottom: 2em;
    }
}
