.support-us {
	padding-left: 2em;
	padding-right: 2em;

	img {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	.why-donate {
		float: left;
		width: 50%;
	}

	.how-to-help {
		float:right;
		width: 50%;

		ul {
			padding-left: 2em;
			list-style-type: square;
		}
	}

	.clearing {
		clear: both;
	}
}