<h1>Here's a welcome page...</h1>
<div>
  <p>
    Our charity works to collect clothing, furniture, food, toys, books, hygiene products, and other miscellaneous materials for the homeless &amp; people in need.
  </p>
  <p>
    WE ACCEPT ALL KINDS OF DONATIONS TO HELP THOSE IN NEED!
  </p>
  <ul>
    <li>
      Donations of food, hygiene products ,&nbsp;clothing, &amp;&nbsp;furniture &nbsp; are especially appreciated by the less fortunate
    </li>
    <li>
      Resources that may help low income&nbsp;families,&nbsp;&amp; those after leaving shelters are also
    </li>
    <li>
      We also welcome leads, and information to other organizations that can provide assistance.
    </li>
  </ul>
  <p>
    Recycling / Redistributing New &amp; Used things to people in need such as Clothing, Furniture, Hygiene Products, Toys, Books, House hold Items, &amp; Food.
  </p>
</div>
<div>
  <iframe width="401" height="251" src="https://www.youtube.com/embed/pRLVcdrQdnw" frameborder="0" allowfullscreen></iframe>
</div>
<div>
  <p>
    We are a Public 501c3 Philanthropy Humanitarian Community Service Charity Organization.
  </p>
  </div>
  <div>
    <p>
      A Few of Our Ha​ppy Clients
    </p>
    <div> pic album </div>
  </div>
  <div>
    <p>
      Proud family owned organization
    </p>
  </div>
