<div class="row">
  <div class="two-thirds-message">
    <h2>Welcome</h2>
    <p>
      Our charity works to collect clothing, furniture, food, toys, books, hygiene products, and other miscellaneous materials for the homeless and people in need.
    </p>
    <p>
      We accept all kinds of donations to help those in need!
    </p>
    <ul>
      <li>
        Donations of food, hygiene products, clothing, and furniture are especially appreciated by the less fortunate.
      </li>
      <li>
        Resources that may help low income families, and those after leaving shelters.
      </li>
      <li>
        We also welcome leads, and information to other organizations that can provide assistance.
      </li>
    </ul>
    <p>
      Recycling and redistributing new and used things to people in need such as clothing, furniture, hygiene products, toys, books, house hold items, and food.
    </p>
  </div>
  <img src="" class="one-third-image">
</div>
<div class="row">
  <p class="organization-type-note">
    We are a Public 501c3 Philanthropy Humanitarian Community Service Charity Organization.
  </p>
</div>
