<div id="fb-root"></div>
<script>(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
  <div class="two-thirds-message">
    <h2>Welcome</h2>
    <p>
      Our charity works to collect clothing, furniture, food, toys, books, hygiene products, and other miscellaneous materials for the homeless and people in need.
    </p>
    <p>
      We accept all kinds of donations to help those in need!
    </p>
    <ul>
      <li>
        Donations of food, hygiene products, clothing, and furniture are especially appreciated by the less fortunate.
      </li>
      <li>
        Resources that may help low income families, and those after leaving shelters.
      </li>
      <li>
        We also welcome leads, and information to other organizations that can provide assistance.
      </li>
    </ul>
    <p>
      Recycling and redistributing new and used things to people in need such as clothing, furniture, hygiene products, toys, books, house hold items, and food.
    </p>
  </div>
  <img src="" class="one-third-image">
</div>

<div class=row>
  <div class="center-message">
    <div class="fb-page" data-href="https://www.facebook.com/pages/Humble-Hearts-Organization/477172595731068?fref=ts" data-width="500" data-hide-cover="true" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Humble-Hearts-Organization/477172595731068?fref=ts"><a href="https://www.facebook.com/pages/Humble-Hearts-Organization/477172595731068?fref=ts">Humble Hearts Organization</a></blockquote></div></div>
  </div>
</div>

<div class="row">
  <p class="center-message">
    We are a Public 501c3 Philanthropy Humanitarian Community Service Charity Organization.
  </p>
</div>
