<h1>Our Story<h1>
	<h2>Mission Statement</h2>
	<p>
		Our Mission is to help one person at a time so that each individual gets the Respect, Attention, and Focus they need to walk away with dignity !!!
	</p>
	<p>
		We help those in need Man, Woman, and Child to receive things they cannot get on their own.
	</p>

			<h2>Message from our founder</h2>

			<p>​​
				I grew up in poverty, living in low income neighborhoods my whole life on the west side of Chicago, watching my parents struggle to make ends meet. I didn’t realize we were poor until I was in the 3rd grade, and a classmate gave me her sweater because she saw me cold outside with nothing on.
			</p>
			<p>
				A 6th grade teacher knew I didn’t have much as well, and she would wait until class was over to pull me aside to sneak small bags of clothing for me to take home. The older I got the more I realized that I must look different. I wondered why people were always giving my mom clothes, why are we waiting in line for bags of food?  It then hit me that we were poor.  That is when the humiliation set in. From then on I grew up being embarrassed of the situation we were in. I was embarrassed of who was looking at us, and the conditions we lived in.
			</p>
			<p>
				Our gas, and electric were always off, my brothers and I were going to school without baths, and depending on school meals to feed us throughout the day. This was our life style. My father was an alcoholic, and both my parents were hard on us they were very abusive. My mother seemed to be the one to take us all down as she was mentally, physically, and verbally abusive.
			</p>
			<p>
				I was molested several times, by several different family members which she knew about one, and never did anything about it; I will also tell you that my very own mother allowed our elderly male neighbor to fondle me for money. This money would be handed over to my dad for beer, and cigarettes.  My mother called me harsh curse names that no mother should be calling a child. She would say things like, “I wish I didn’t have kids”, " Wish you weren't born", you kids make me sick and yes even saying she hated us. 
			</p>
			<p>
				My life didn’t get any better, in fact it got worse. When I turned sixteen I couldn’t take the abuse any longer so I ran away from home. I became homeless by choice. I didn’t have a clue where I was going to stay I just knew I wasn’t going to stay under the same roof as my parents. I have a handicap brother, and the other one is in prison. My brother begged me to take him along. He was fifteen at the time, and the youngest of us three. He had it the hardest, and though it broke my heart to leave, I had to save myself.
			</p>
			<p>
				A year later he ended up in jail where he remains to this very day. I blame myself. Perhaps I could have saved him from a life gone bad, a cycle my mom drove him to.  I dropped out of High School to turn to the streets where I met a crowd that befriended me. I joined a gang where I was showed a whole new world of freedom, drugs, sex, and no rules. I got hooked on cocaine, smoking crack then moved onto smoking Sherms (wicked sticks) an addiction that led me to do things. It was a life of hustling, solicitation for my fixes. This life had me sleeping in and outside of places such a school arched doorway, hallways of opened doors to private homes, anyone who let me lay on their floor, and enclosed gangways to buildings.
			</p>
			<p>
				I ended up moving in with my drug dealer who took me under his wing. He was ten years older than me and he gave me a roof over my head for about four months until he got arrested for murder. Once again I became homeless. I went back to the hustle until I couldn’t do it any longer as I was four months pregnant from the drug dealer that took me in I then had no where to go but back home to my parents.
			</p>
			<p>
				There are so many stories I could tell you, but will save them for a rainy day. I just wanted to provide some insight into my upbringing to help you understand why it is that I do what I do. In my world, the people I help are no different from me, and that is why I am able to understand them mentally, and emotionally because I led a life to seek out love, acceptance, and comfort to ease my pain through addiction.
			</p>


	<div>
		<h2>Meet The Team</h2>
			<% @team_members.each do |team_member| %>
			<img src=<%= team_member.photo_url %> class="one-third-image"></img>
				<div class="two-thirds-message">
					<%= team_member.name %>
					<%= team_member.title %>
					<%= team_member.bio %>
				</div>
			<% end %>
	</div>
	<div>
		<h2>Visit Us On Facebook</h2>
		<a href="https://www.facebook.com/pages/Humble-Hearts-Organization/477172595731068" target="_blank">Facebook Link</a>