<div>
	<h2>Why is it important to Donate?</h2>
	<p>
		Donating not only gives you a sense of purpose in helping someone but it also helps us continue to fulfil our mission of helping people in need.
	</p>
	<p>
		Humble Hearts is not government funded. We run solely on donations. We depend on your time, monetary funding, sponsorship, and items in order to function. Every single cent of your donations goes toward our purpose.
	</p>
</div>

<div>
	<h2>How you can help?</h2>
	<div> 
		<ul>
			These listed items are collected all year long to help us help those in need:
			<li>
				Socks
			</li>
			<li>
				Non-perishable food such as canned goods, dry beans, pasta and rice.
			</li>
			<li>
				Cases of water/gatorade. Summer days are very hot water helps keep our homeless from being dehydrated.
			</li>
			<li>
				Packing containers
			</li>
			<li>
				Plastic utensils 
			</li>
			<li>
				Hygiene items
			</li>
			<li>
				Snacks
			</li>
			<li>
				Prom Dresses
			</li>
			<li>
				Formal dresses
			</li>
			<li>
				Makeup
			</li>
			<li>
				Dress Shoes
			</li>
			<li>
				Perfume
			</li>
			<li>
				Jewelry
			</li>
		</ul>
	</div>
	<div>
		You can also support us by running drives for any of these items at your place of employment, house of worship or among your friends and family. Every little bit of help is greatly appreciated.
	</div>
	<div>
		<p>
			Financial funding helps us purchase items that we are not able to collect
		</p>
	</div>
	<div>
		<p>
			ALL DONATIONS ARE TAX DEDUCTIBLE WE APPRECIATE YOUR SUPPORT
		</p>
	</div>
	<div>
		<p>
			Thank you for your kindness, and compassion
		</p>
	</div>
	<div>
		<p>
			We wouldn't be able to do what we do if it weren't for people like you!!
		</p>
	</div>