<div id="events">
	<div class="event-list">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
		<% @events.each do |event| %>
			<li class="single-event">
				<h2><%= event.title %></h2>
				<p>
					<%= event.description %>
				</p>
			</li>
		<% end %>
		</ul>
	</div>


	<% albums.each do |album| %>
		<div id=<%= "gallery-anchor-#{album[0]['id']}" %>></div>
	<% end %>

	<h2 class="past-events">
		<a href="https://www.flickr.com/photos/132225561@N08/" target="blank_">
		View More Event Albums
		</a>
	</h2>

	<script src='/build/javascripts/events-carousel.js'></script>
</div>
