<h1>Events</h1>

<% albums.each do |album| %>
	<div id=<%= "gallery-anchor-#{album[0]['id']}" %>></div>
<% end %>

<script src='/build/javascripts/application.js'></script>

<div id="events-wrapper">
	<% @events.each do |event| %>
		<ul>
			<li>
				<p><%= event.title %></p>
				<p><%= event.description %></p>
			</li>
		</ul>
	<% end %>
</div>
