<div class="media">
	<h1>Media</h1>
<p>People are noticing the work we're doing at Humble Hearts!</p>
<% @category_hash.each do |key, value| %>
  <h2><%= key %></h2>
    <% value.each do |val| %>
      <h3><%= link_to val.title, url_for(val.link)%></h3>
    <% end %>
  <% end %>
</div>