<header id="top">
	<div id="navigation-anchor"></div>

	<% if request.env['PATH_INFO'] == '/' %>
		<div class="centered">
			<%= image_tag("Master Logo.png") %>
		</div>
	<% else %>
		<div class="top-left">
			<%= image_tag("minimalLogo.png") %>
		</div>
		<div class="title-text">
			BUTTS
		</div>
	<% end %>

	<div class="row">
		<div class="small-3 small-centered columns">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick" />
				<input type="hidden" name="hosted_button_id" value="T3RFM3GSNMMJG" />
				<input id="donate" type="submit" border="0" value="Donate" name="donate" alt="PayPal - The safer, easier way to pay online!" />
			</form>
		</div>
	</div>
</header>
